@(loginCredentialsForm:    Form[controllers.web.testclient.Client.LoginCredentials],
  registerCredentialsForm: Form[controllers.web.testclient.Client.RegisterCredentials])

@import helper._

@main("super duper login screen") {

    <h2>Login</h2>
    
    @form(action = controllers.web.testclient.routes.Client.loginTarget()) {
      @inputText(loginCredentialsForm("name"))
      @inputPassword(loginCredentialsForm("pass"))
      
      <input type="submit" value="Login">
    }

    <h2>Register</h2>

	@if(registerCredentialsForm.hasGlobalErrors) {
	    <ul>
	    @registerCredentialsForm.globalErrors.foreach { error =>
	        <li>error.message</li>
	    }
	    </ul>
	}
    @form(action = controllers.web.testclient.routes.Client.registerTarget()) {
      @inputText(registerCredentialsForm("name"))
      @inputPassword(registerCredentialsForm("pass1"))
      @inputPassword(registerCredentialsForm("pass2"))
      
      <input type="submit" value="Register">
    }

}

