@(menuItems: Map[String, String], battles: List[models.domain.Battle])

@import helper._

@main("Battles")(menuItems, Map.empty) {

	<p>
	<table border="1">
	    	<tr>
	    		<!--<td>battleId</td>-->
	    		<td>status</td>
                <td>level</td>
                <td>vip</td>
	    		<td>solutionIds</td>
	    		<td>authorIds</td>
	    		<td>winnerIds</td>
	    		<td>voteEndDate</td>
	    	</tr>
		@for(b <- battles) {
	    	<tr>
	    		<td>@b.info.status</td>
                <td>@b.level</td>
                <td>@b.vip</td>
                <td><pre>@b.info.solutionIds.mkString("\n")</pre></td>
                <td><pre>@b.info.authorIds.mkString("\n")</pre></td>
                <td><pre>@b.info.winnerIds.mkString("\n")</pre></td>
                <td>@b.info.voteEndDate</td>
	    	</tr>
	    }
	</table>
	</p>

}


