@(menuItems: Map[String, String], quests: List[models.domain.Quest])

@import helper._

@main("Quests")(menuItems, Map()) {

	<p>
	<table border="1">
	    	<tr>
	    		<td>description</td>
	    		<td>status</td>
	    		<td>points</td>
	    		<td>votersCount</td>
	    		<td>level</td>
	    	</tr>
		@for(q <- quests) {
	    	<tr>
	    	
				@helper.form(action=controllers.web.admin.routes.QuestsCRUD.updateQuest(q.id)) {       
		    		<td>@q.info.content.description</td>
		    		<td>@q.status</td>
		    		<td>@q.rating.points</td>
		    		<td>@q.rating.votersCount</td>
		    		<td>@q.info.level</td>

	            	<td>@helper.select</td>
	            	<td><input type='text' name='@q.id' value='@q.status'/></td>
					
					<td><input type='submit' value='Update' /></td>    
				}
	    	
	    	</tr>
	    }
	</table>
	</p>
	
}

