@(menuItems: Map[String, String], solutions: List[models.domain.Solution])

@import helper._

@main("Solutions")(menuItems, Map()) {

	<p>
	<table border="1">
	    	<tr>
	    		<td>questId</td>
	    		<td>status</td>
	    		<td>reviewsCount</td>
	    		<td>pointsRandom</td>
	    		<td>pointsFriends</td>
	    		<td>cheating</td>
	    		<td>content</td>
	    	</tr>
		@for(s <- solutions) {
	    	<tr>
	    		<td>@s.info.questId</td>
	    		<td>@s.status</td>
	    		<td>@s.rating.reviewsCount</td>
	    		<td>@s.rating.pointsRandom</td>
	    		<td>@s.rating.pointsFriends</td>
	    		<td>@s.rating.cheating</td>
	    		<td><img style="max-width: 204px; height: auto; " src="@s.info.content.media.reference" alt="@s.info.content.media.reference" ></td>
	    	</tr>
	    }
	</table>
	</p>

}


