@(menuItems: Map[String, String], themes: List[models.domain.theme.Theme], newThemeForm: Form[controllers.web.admin.component.ThemeForm])

@import helper._

@main("Themes")(menuItems) {

	<p>
		@form(action = controllers.web.admin.routes.ThemesCRUD.createThemeCB()) {
			@inputText(newThemeForm("text"))
			@inputText(newThemeForm("comment"))
			<input type="submit" value="Create">
   		}
	</p>
	
	<p>
	<table border="1">
		@for(t <- themes) {
	    	<tr>
	    		<td>@t.id.toString</td>
	    		<td>@t.text</td>
	    		<td>@t.comment</td>
				<td><a href="#">edit</a></td>
				<td><a href="#">delete</a></td>
	    	</tr>
	    }
	</table>
	</p>
	
}

