@(menuItems: Map[String, String], themes: List[models.domain.Theme], newThemeForm: Form[controllers.web.admin.component.ThemeForm])

@import helper._

@main("Themes")(menuItems, Map()) {

	<p>
		@form(action = controllers.web.admin.routes.ThemesCRUD.createThemeCB()) {
			@inputText(newThemeForm("id"), 'size -> 50, 'readonly -> "readonly")
			@inputText(newThemeForm("text"), 'size -> 20, 'placeholder -> "Text")
			@inputText(newThemeForm("comment"), 'size -> 100, 'placeholder -> "Comment")
			@select(newThemeForm("iconType"), options(List("Photo", "Video")))
			@inputText(newThemeForm("iconStorage"), 'size -> 20, 'placeholder -> "Storage")
			@inputText(newThemeForm("iconReference"), 'size -> 100, 'placeholder -> "Reference")
			@if(newThemeForm("id").value == None) {
				<input type="submit" value="Create">
			} else {
				<input type="submit" value="Update">
			}
   		}
	</p>
	
	<p>
	<table border="1">
    	<tr>
    		<td>id</td>
    		<td>text</td>
    		<td>comment</td>
    		<td>icon.contentType</td>
    		<td>icon.storage</td>
    		<td>icon.reference</td>
    	</tr>

		@for(t <- themes) {
	    	<tr>
	    		<td>@t.id</td>
	    		<td>@t.info.name</td>
	    		<td>@t.info.description</td>
	    		<td>@t.icon.contentType.toString</td>
	    		<td>@t.icon.storage</td>
	    		<td>@t.icon.reference</td>

				<td><a href="@controllers.web.admin.routes.ThemesCRUD.themes(t.id.toString)">edit</a></td>
				<td><a href="@controllers.web.admin.routes.ThemesCRUD.deleteThemeCB(t.id.toString)">delete</a></td>
	    	</tr>
	    }
	</table>
	</p>
	
}

