@(
menuItems: Map[String, String],
leftMenuItems: Map[String, String],
currentPlatform: String,
elements: List[models.domain.TutorialElement],
possibleActions: List[String],
possibleConditions: List[String])

@import helper._

@* TODO: move me to a file with custom styles  *@
<style>
    form { display: inline; }
</style>


@main(s"Tutorial sctipt for: $currentPlatform")(menuItems, leftMenuItems) {

<table border="1">
    <tr>
        <td width="10%">id</td>
        <td>action</td>
        <td>conditions</td>
        <td>triggers</td>
        <td>Action!</td>
    </tr>

    @for(element <- elements) {
    <tr>
        <td>@element.id</td>
        <td nowrap="nowrap">
            @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.updateAction(currentPlatform, element.id)) {
            <select id="entityType" name="entityType">
                @for(action <- possibleActions) {
                    @if(action == element.action.actionType.toString) {
                        <option value="@action" selected="selected">@action</option>
                    } else {
                        <option value="@action">@action</option>
                    }
                }
            </select>
            <input type='submit' value='Save' />
            }

            @for((key, value) <- element.action.params) {
                <p>
                    @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.saveParamInElementAction(currentPlatform, element.id, key)) {
                        <input type="text" id="key" name="key" value='@key' size="5">
                        <input type="text" id="value" name="value" value='@value' size="5">
                        <input type='submit' value='Save' />
                    }
                    @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.deleteParamFromElementAction(currentPlatform, element.id, key)) {
                        <input type='submit' value='Del' />
                    }
                </p>
            }

            <p>
                @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.addParamToElementAction(currentPlatform, element.id)) {
                    <input type='submit' value='Add Param' />
                }
            </p>
        </td>

        <td>
            <table border="1">
                @for((condition, index) <- element.conditions.zipWithIndex) {
                    <tr>
                        <td nowrap="nowrap">
                            @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.updateCondition(currentPlatform, element.id, index)) {
                                <select id="entityType" name="entityType">
                                    @for(ct <- possibleConditions) {
                                        @if(ct == condition.conditionType.toString) {
                                            <option value="@ct" selected="selected">@ct</option>
                                        } else {
                                            <option value="@ct">@ct</option>
                                        }
                                    }
                                </select>
                                <input type='submit' value='Save' />
                            }


                            @for((key, value) <- condition.params) {
                            <p>
                                @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.saveParamInElementAction(currentPlatform, element.id, key)) {
                                <input type="text" id="key" name="key" value='@key' size="5">
                                <input type="text" id="value" name="value" value='@value' size="5">
                                <input type='submit' value='Save' />
                                }
                                @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.deleteParamFromElementAction(currentPlatform, element.id, key)) {
                                    <input type='submit' value='Del' />
                                }
                            </p>
                            }

                            <p>
                                @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.addParamToElementCondition(currentPlatform, element.id, index)) {
                                    <input type='submit' value='Add Param' />
                                }
                            </p>

                        </td>
                        <td>
                            @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.deleteConditionFromElement(currentPlatform, element.id, index)) {
                                <input type='submit' value='Del' />
                            }
                        </td>
                    </tr>
                }

                <tr><td>
                    @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.addConditionToElement(currentPlatform, element.id)) {
                        <input type='submit' value='Add Condition' />
                    }
                </td></tr>
            </table>
        </td>

        <td>@element.triggers</td>

        <td>
            @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.deleteElement(currentPlatform, element.id)) {
                <input type='submit' value='DELETE' />
            }
        </td>
    </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            @form(action=controllers.web.admin.routes.TutorialScriptsCRUD.addElement(currentPlatform)) {
            <input type='submit' value='ADD' />
            }
        </td>
    </tr>
</table>

}
